.App {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.page_wrapper {
  padding-top: 30px;
  max-width: 100vw;
}
@media only screen and (max-width: 320px) {
  .page_wrapper {
    font-size: 0.7rem;
  }
}
